.border-1 {
  background-color: rgb(0, 91, 0);
  color: rgb(0, 181, 0);
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.border-2 {
  background-color: rgba(0, 0, 0, 0.91);
  color: rgb(218, 171, 0);
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
}
