.navbar {
  padding: 20px 100px;
  .nav-left {
    img {
      width: 100%;
      height: auto;
    }
  }
  .nav-center {
    ul li {
      font-size: 15px;
    }
    .nav-list-item {
      text-align: center;
      min-width: 80px;
      padding: 10px;
      font-weight: bold;
    }
  }
  .nav-right {
    font-weight: bold;
    text-align: right;
  }
}
